<!-- IF S_REIMG -->
<script type="text/javascript">
// <![CDATA[
	/**
	* Resize too large images
	*/
	var reimg_maxWidth = {REIMG_MAX_WIDTH}, reimg_maxHeight = {REIMG_MAX_HEIGHT}, reimg_relWidth = {REIMG_REL_WIDTH};
	<!-- IF S_REIMG_SWAP_PORTRAIT -->
		var reimg_swapPortrait = true;
	<!-- ENDIF -->
	var reimg_loadingImg = "<!-- IF REIMG_LOADING_IMG_SRC -->{REIMG_LOADING_IMG_SRC}<!-- ELSE -->{T_IMAGES_PATH}spacer.gif<!-- ENDIF -->";
	var reimg_loadingStyle = "<!-- IF REIMG_LOADING_IMG_SRC --><!-- IF REIMG_LOADING_IMG_WIDTH -->width: {REIMG_LOADING_IMG_WIDTH}px; <!-- ENDIF --><!-- IF REIMG_LOADING_IMG_HEIGHT -->height: {REIMG_LOADING_IMG_HEIGHT}px; <!-- ENDIF --><!-- ELSE -->width: 18px; height: 15px; background: orange; <!-- ENDIF -->filter: Alpha(Opacity=50); opacity: .50;";
	var reimg_loadingAlt = "{LA_LOADING_TEXT}";
	<!-- IF S_REIMG_ZOOM -->
		<!-- IF S_REIMG_LINK -->
			var reimg_autoLink = true;
		<!-- ENDIF -->
		<!-- IF S_REIMG_BUTTON -->
			var reimg_zoomImg = "<!-- IF REIMG_ZOOM_IN_IMG_SRC -->{REIMG_ZOOM_IN_IMG_SRC}<!-- ELSE -->{T_IMAGES_PATH}spacer.gif<!-- ENDIF -->";
			var reimg_zoomStyle = "<!-- IF REIMG_ZOOM_IN_IMG_SRC --><!-- IF REIMG_ZOOM_IN_IMG_WIDTH -->width: {REIMG_ZOOM_IN_IMG_WIDTH}px; <!-- ENDIF --><!-- IF REIMG_ZOOM_IN_IMG_HEIGHT -->height: {REIMG_ZOOM_IN_IMG_HEIGHT}px; <!-- ENDIF --><!-- ELSE -->width: 18px; height: 15px; background: green; <!-- ENDIF -->filter: Alpha(Opacity=45); opacity: .45;";
			var reimg_zoomHover = "filter: Alpha(Opacity=90); opacity: .90;";
		<!-- ENDIF -->
		var reimg_zoomAlt = "{LA_REIMG_ZOOM_IN}";
		var reimg_zoomTarget = "{S_REIMG_ZOOM}";
	<!-- ENDIF -->
		
	function reimg(img, width, height)
	{
		if (window.reimg_version)
		{
			reimg_resize(img, width, height);
		}
	}
// ]]>
</script>

<script type="text/javascript" src="{ROOT_PATH}reimg/reimg.js"></script>

<!-- IF S_REIMG_ZOOM -->
	<style type="text/css" media="screen, projection">
	<!--
		.tablebg .tablebg .postbody .reimg-zoom { display: none; }
	-->
	</style>
<!-- ENDIF -->

<!-- IF S_REIMG_LITEBOX -->
	<!-- IF S_REIMG_LITEBOX eq '_highslide' -->
		<script type="text/javascript" src="{ROOT_PATH}reimg/highslide/highslide-full.packed.js"></script>
		<link rel="stylesheet" type="text/css" href="{ROOT_PATH}reimg/highslide/highslide.css" />
	<!-- ENDIF -->

	<script type="text/javascript">
	// <![CDATA[
		/**
		* Light box for resized images
		*/
	<!-- IF S_REIMG_LITEBOX eq '_highslide' -->
		if (window.hs)
		{
			hs.graphicsDir = "{ROOT_PATH}reimg/highslide/graphics/";
			// Language settings for Highslide JS
			hs.lang.cssDirection = "{S_CONTENT_DIRECTION}";
			hs.lang.loadingText = "{LA_LOADING_TEXT}";
			hs.lang.loadingTitle = "{LA_LOADING_TITLE}";
			hs.lang.focusTitle = "{LA_FOCUS_TITLE}";
			hs.lang.fullExpandTitle = "{LA_FULL_EXPAND_TITLE}";
			hs.lang.creditsText = "{LA_CREDITS_TEXT}";
			hs.lang.creditsTitle = "{LA_CREDITS_TITLE}";
			hs.lang.previousText = "{LA_PREVIOUS_TEXT}";
			hs.lang.nextText = "{LA_NEXT_TEXT}";
			hs.lang.moveText = "{LA_MOVE_TEXT}";
			hs.lang.closeText = "{LA_CLOSE_TEXT}";
			hs.lang.closeTitle = "{LA_CLOSE_TITLE}";
			hs.lang.resizeTitle = "{LA_RESIZE_TITLE}";
			hs.lang.playText = "{LA_PLAY_TEXT}";
			hs.lang.playTitle = "{LA_PLAY_TITLE}";
			hs.lang.pauseText = "{LA_PAUSE_TEXT}";
			hs.lang.pauseTitle = "{LA_PAUSE_TITLE}";
			hs.lang.previousTitle = "{LA_PREVIOUS_TITLE}";
			hs.lang.nextTitle = "{LA_NEXT_TITLE}";
			hs.lang.moveTitle = "{LA_MOVE_TITLE}";
			hs.lang.number = "{LA_IMAGE_NUMBER}";
			hs.lang.restoreTitle = "{LA_RESTORE_TITLE}";
		}
	<!-- ELSE -->
		var litebox_alt = "<!-- IF S_REIMG_LINK -->{LA_REIMG_ZOOM_OUT}<!-- ELSE -->{LA_IMAGE}<!-- ENDIF -->";
		<!-- IF S_REIMG_LITEBOX eq '_litebox' -->
			<!-- IF S_REIMG_BUTTON -->
				var litebox_zoomImg = reimg_zoomImg;
				var litebox_zoomStyle = reimg_zoomStyle;
				var litebox_zoomHover = reimg_zoomHover;
			<!-- ELSE -->
				var litebox_zoomImg = "<!-- IF REIMG_ZOOM_IN_IMG_SRC -->{REIMG_ZOOM_IN_IMG_SRC}<!-- ELSE -->{T_IMAGES_PATH}spacer.gif<!-- ENDIF -->";
				var litebox_zoomStyle = "<!-- IF REIMG_ZOOM_IN_IMG_SRC --><!-- IF REIMG_ZOOM_IN_IMG_WIDTH -->width: {REIMG_ZOOM_IN_IMG_WIDTH}px; <!-- ENDIF --><!-- IF REIMG_ZOOM_IN_IMG_HEIGHT -->height: {REIMG_ZOOM_IN_IMG_HEIGHT}px; <!-- ENDIF --><!-- ELSE -->width: 18px; height: 15px; background: green; <!-- ENDIF -->filter: Alpha(Opacity=45); opacity: .45;";
				var litebox_zoomHover = "filter: Alpha(Opacity=90); opacity: .90;";
			<!-- ENDIF -->
			var litebox_zoomAlt = reimg_zoomAlt;
		<!-- ELSEIF S_REIMG_LITEBOX eq '_litebox1' -->
			var reimg_zoomLevel = 100;
		<!-- ENDIF -->
		<!-- IF S_REIMG_LINK -->
			var litebox_style = "cursor: pointer;"
		<!-- ENDIF -->
		<!-- IF S_REIMG_BUTTON -->
			var litebox_closeImg = "<!-- IF REIMG_ZOOM_OUT_IMG_SRC -->{REIMG_ZOOM_OUT_IMG_SRC}<!-- ELSE -->{T_IMAGES_PATH}spacer.gif<!-- ENDIF -->";
			var litebox_closeStyle = "<!-- IF REIMG_ZOOM_OUT_IMG_SRC --><!-- IF REIMG_ZOOM_OUT_IMG_WIDTH -->width: {REIMG_ZOOM_OUT_IMG_WIDTH}px; <!-- ENDIF --><!-- IF REIMG_ZOOM_OUT_IMG_HEIGHT -->height: {REIMG_ZOOM_OUT_IMG_HEIGHT}px; <!-- ENDIF --><!-- ELSE -->width: 18px; height: 15px; background: red; <!-- ENDIF -->filter: Alpha(Opacity=45); opacity: .45;";
			var litebox_closeHover = reimg_zoomHover;
			var litebox_closeAlt = <!-- IF S_REIMG_LINK -->litebox_alt<!-- ELSE -->"{LA_REIMG_ZOOM_OUT}"<!-- ENDIF -->;
		<!-- ENDIF -->
		var litebox_rtl = <!-- IF S_CONTENT_DIRECTION eq 'rtl' -->true<!-- ELSE -->false<!-- ENDIF -->;
	<!-- ENDIF -->
	// ]]>
	</script>

	<!-- IF S_REIMG_LITEBOX ne '_highslide' -->
		<script type="text/javascript" src="{ROOT_PATH}reimg/litebox.js"></script>
	<!-- ENDIF -->
<!-- ENDIF -->
<!-- ENDIF -->