<script type="text/javascript">
// <![CDATA[
	var reimgAltLabels = {
		Loading: 		"{LA_LOADING_TEXT}",
		ZoomIn: 		"{LA_REIMG_ZOOM_IN}",
		ZoomOut: 		"{LA_REIMG_ZOOM_OUT}",
		FullExpand: 	"{LA_FULL_EXPAND_TITLE}",
		Previous:		"{LA_PREVIOUS_TEXT}",
		PreviousTitle:	"{LA_PREVIOUS_TITLE}",
		Next:			"{LA_NEXT_TEXT}",
		NextTitle:		"{LA_NEXT_TITLE}",
		Close:			"{LA_CLOSE_TEXT}",
		CloseTitle:		"{LA_CLOSE_TITLE}",
		Play:			"{LA_PLAY_TEXT}",
		PlayTitle:		"{LA_PLAY_TITLE}",
		Pause:			"{LA_PAUSE_TEXT}",
		PauseTitle:		"{LA_PAUSE_TITLE}",
		ImageNumber:	"{LA_IMAGE_NUMBER}",
		UserLink:		"{LA_REIMG_USER_LINK}"
	};

	var reimgSettings = {
		phpExt:			"{S_REIMG_PHP_EXT}",
		zoomTarget: 	"{S_REIMG_ZOOM}",
		zoomMethod:		"{S_REIMG_ZOOM_METHOD}",
		spacerImage:	"{T_IMAGES_PATH}spacer.gif",
		rtl: 			<!-- IF S_CONTENT_DIRECTION eq 'rtl' -->true<!-- ELSE -->false<!-- ENDIF -->,
		swapPortrait: 	<!-- IF S_REIMG_SWAP_PORTRAIT -->true<!-- ELSE -->false<!-- ENDIF -->,
		autoLink: 		<!-- IF S_REIMG_LINK -->true<!-- ELSE -->false<!-- ENDIF -->,
		showButton:		<!-- IF S_REIMG_BUTTON -->true<!-- ELSE -->false<!-- ENDIF -->,
		handleAttached:	<!-- IF S_REIMG_ATTACHMENTS -->true<!-- ELSE -->false<!-- ENDIF -->,
		resizeSigImg:	<!-- IF S_REIMG_RESIZE_SIG_IMG -->true<!-- ELSE -->false<!-- ENDIF -->,
		reimgForAll:	<!-- IF S_REIMG_FOR_ALL -->true<!-- ELSE -->false<!-- ENDIF -->
	};

	$(function() {
		var reimg = new ReIMG(reimgAltLabels, reimgSettings);
		reimg.ApplyResize();
	});
// ]]>
</script>

<!-- IF S_REIMG_ZOOM_METHOD eq '_imglightbox' -->
<!-- INCLUDEJS ../js/imagelightbox.min.js -->
<!-- ELSEIF S_REIMG_ZOOM_METHOD eq '_colorbox' -->
<!-- INCLUDEJS ../js/jquery.colorbox-min.js -->
<!-- ELSEIF S_REIMG_ZOOM_METHOD eq '_magnific' -->
<!-- INCLUDEJS ../js/jquery.magnific-popup.min.js -->
<!-- ENDIF -->
<!-- INCLUDEJS ../js/reimg.js -->
