<script type="text/javascript">
// <![CDATA[
	var reimgAltLabels = {
		Loading: "{LA_LOADING_TEXT}",
		ZoomIn: "{LA_REIMG_ZOOM_IN}",
		ZoomOut: "<!-- IF S_REIMG_LINK -->{LA_REIMG_ZOOM_OUT}<!-- ELSE -->{LA_IMAGE}<!-- ENDIF -->"
	};

	var reimgSettings = {
		maxWidth: {REIMG_MAX_WIDTH},
		maxHeight: {REIMG_MAX_HEIGHT},
		relWidth: {REIMG_REL_WIDTH},
		swapPortrait: <!-- IF S_REIMG_SWAP_PORTRAIT -->true<!-- ELSE -->false<!-- ENDIF -->,
		autoLink: <!-- IF S_REIMG_LINK -->true<!-- ELSE -->false<!-- ENDIF -->,
		zoomTarget: "{S_REIMG_ZOOM}",
		ajaxUrl: "{REIMG_AJAX_URL}",
		rtl: <!-- IF S_CONTENT_DIRECTION eq 'rtl' -->true<!-- ELSE -->false<!-- ENDIF -->,
		zoomLevel: <!-- IF S_REIMG_ZOOM_METHOD eq '_litebox1' -->100<!-- ELSE -->null<!-- ENDIF -->
	};

	var reimg_loadingImg = "{T_IMAGES_PATH}spacer.gif";
	var reimg_loadingStyle = "ReIMGLoading";
	<!-- IF S_REIMG_BUTTON -->
	var reimg_zoomImg = "{T_IMAGES_PATH}spacer.gif";
	var reimg_zoomStyle = "ReIMGZoomStyle";
	var reimg_zoomHover = "ReIMGZoomStyle";
	<!-- ENDIF -->
		<!-- IF S_REIMG_ZOOM_METHOD eq '_litebox' -->
			<!-- IF S_REIMG_BUTTON -->
	var litebox_zoomImg = reimg_zoomImg;
	var litebox_zoomStyle = reimg_zoomStyle;
	var litebox_zoomHover = reimg_zoomHover;
			<!-- ELSE -->
	var litebox_zoomImg = "{T_IMAGES_PATH}spacer.gif";
	var litebox_zoomStyle = "ReIMGZoomStyle";
	var litebox_zoomHover = "ReIMGZoom";
			<!-- ENDIF -->
		<!-- ENDIF -->
		<!-- IF S_REIMG_LINK -->
	var litebox_style = "cursor: pointer;"
		<!-- ENDIF -->
		<!-- IF S_REIMG_BUTTON -->
	var litebox_closeImg = "{T_IMAGES_PATH}spacer.gif";
	var litebox_closeStyle = "ReIMGCloseStyle";
	var litebox_closeHover = reimg_zoomHover;
		<!-- ENDIF -->
// ]]>
</script>

<!-- IF S_REIMG_ZOOM_METHOD eq '_litebox' or S_REIMG_ZOOM_METHOD eq '_litebox1' -->
<!-- INCLUDEJS ../js/litebox.js -->
<!-- ENDIF -->
<!-- INCLUDEJS ../js/reimg.js -->
